<div class="my-8">
  <div class="mx-auto w-9 my-5">
    <div class="text-500 text-2xl">Products you may also like</div>
  </div>
  <div class="mx-auto w-9">
    <p-carousel
      [value]="images"
      [numVisible]="4"
      [numScroll]="4"
      [circular]="true"
      [autoplayInterval]="3000"
      [showIndicators]="false"
      [showNavigators]="false"
    >
      <ng-template let-image pTemplate="item">
        <img src="{{ image }}" class="w-9" />
      </ng-template>
    </p-carousel>
  </div>
</div>
