<div class="sm:w-8 mx-auto w-full my-8 gap-8">
  <div class="mx-auto w-9">
    <div class="text-600 text-3xl">Contact</div>
    <div class="text-500 text-xl mt-5 sm:mt-7">Get in touch</div>
  </div>

  <div class="mx-auto w-9 my-6">
    <app-form></app-form>
  </div>

  <div class="mx-auto w-9 my-8 text-center">
    <div class="text-500 text-2xl sm:line-height-0 line-height-3">
      THANK YOU FOR YOUR SUPPORT!
    </div>
  </div>
</div>
