<div
  class="cursor-pointer content bg-white h-full"
  [routerLink]="item.price && ['/details'] "
>
  <div
    *ngIf="item.bgImage"
    class="content-image bg-cover bg-no-repeat w-full h-18rem"
    style="background-image: url({{ item.bgImage }})"
  ></div>
  <div *ngIf="item.image" class="text-center">
    <img class="max-w-10rem" src="{{ item.image }}" />
  </div>

  <div class="content-info flex flex-column">
    <span
      *ngIf="item.title"
      class="font-small text-gray-900 white-space-nowrap py-3"
      >{{ item.title }}</span
    >

    <span
      *ngIf="item.social"
      class="font-small text-orange-900 white-space-nowrap py-3 text-center"
      >{{ item.social }}</span
    >

    <span
      *ngIf="item.price"
      class="font-small text-gray-900 white-space-nowrap"
      >{{ item.price }}</span
    >
    <span
      *ngIf="item.description"
      class="font-small text-gray-900 line-height-2 text-center"
      >{{ item.description }}</span
    >
    <span
      *ngIf="item.buttonLabel === 'ENQUIRE NOW'"
      class="font-small text-orange-800 py-3 text-center hover:underline"
      [routerLink]="['/contact']"
      >{{ item.buttonLabel }} <i class="pi pi-arrow-right"></i>
    </span>

    <a
      class="font-small text-orange-800 py-3 text-center no-underline hover:underline"
      *ngIf="item.social === 'INSTAGRAM'"
      href="{{ item.navLink }}"
    >
      <span *ngIf="item.buttonLabel"
        >{{ item.buttonLabel }} <i class="pi pi-arrow-right"></i>
      </span>
    </a>
    <ng-content></ng-content>
  </div>
</div>
