<div class="my-8">
  <div class="mx-auto w-9">
    <div class="text-500 text-2xl">{{ title }}</div>
  </div>

  <div class="flex flex-wrap mx-auto w-9 my-5 gap-8">
    <div *ngFor="let item of items" class="w-18rem">
      <app-card [item]="item">
        <button pButton class="p-button-white mt-3" label="Order Now" (click)="onOrder($event)"></button>
      </app-card>
    </div>
  </div>
</div>
