.carousel-section {
  background: url("./../../../assets/images/8.jpg");
  background-size: cover;
  opacity: 0.8;
  height: 92vh;
  font-size: 2rem;
  font-weight: 800;
  position: relative;
}
.carousel--text {
  position: absolute;
  top: 6.7rem;
  bottom: 6.7rem;
  left: 6.7rem;
  right: 6.7rem;
  text-align: center;

  background: rgba(210, 201, 189, 0.811);

  mix-blend-mode: screen;
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 55em) {
  .carousel-section {
    height: 91vh;
  }
  .carousel--text {
    top: 6.7rem;
    bottom: 6.7rem;
    left: 1.7rem;
    right: 1.7rem;
    font-size: 3rem;
    letter-spacing: 0;
  }
}
