<div
  class="carousel-section flex justify-content-center align-items-end mt-auto py-5"
>
  <div class="gap-9 flex flex-column">
    <button pButton class="btn-transparent test" label="SHOP NOW" [routerLink]="['/shop']" ></button>
  </div>
  <div class="py-4 carousel--text">New Art Available</div>
</div>

<app-commission-orders></app-commission-orders>

<app-cards-section [title]="title"></app-cards-section>

<app-socials></app-socials>
