<div
  class="flex sm:flex-row flex-column sm:gap-0 gap-3 justify-content-between text-center header sm:p-5 p-3 font-bold sticky top-0"
>
  <div class="text-xl cursor-pointer title" routerLink="">
    <img
      class="w-12rem"
      src="../../../assets/images/logoSmall.png"
      alt="Modern Paint"
    />
  </div>
  <div
    class="flex justify-content-center sm:gap-4 gap-7 nav-items align-items-center"
  >
    <div class="header-item" routerLinkActive="active" routerLink="/shop">
      Shop
    </div>
    <div class="header-item" routerLinkActive="active" routerLink="/contact">
      Contact
    </div>
    <div class="header-item" routerLinkActive="active" routerLink="/about">
      About
    </div>
  </div>
</div>
