$primary: #9a876c;
$primary-light: rgba(#9a876c, 0.1);
$primary-medium: rgba(#9a876c, 0.8);

$green: #16a34a;
$green-medium: rgba(#2E8058, 0.9);

$danger: #D03131;
$danger-medium: rgba(#D03131, 0.88);
