<div
  class="flex lg:justify-content-between justify-content-center flex-wrap sm:w-8 mx-auto gap-6 my-8 mt-8"
>
  <div *ngFor="let social of socials" class="w-18rem">
    <app-card [item]="social"> </app-card>
  </div>
</div>
