<div
  class="flex justify-content-between sm:flex-row flex-column w-8 mx-auto sm:my-8 my-6 sm:gap-8 gap-5"
>
  <div class="text-500 text-xl flex gap-4 sm:flex-row flex-column">
    <div
      class="flex sm:flex-column flex-row flex-wrap justify-content-between sm:gap-3 gap-1"
    >
      <div *ngFor="let pieces of art">
        <img
          class="sm:max-w-7rem max-w-8rem"
          src="{{ pieces }}"
          alt="Modern Paint"
        />
      </div>
    </div>
    <div class="">
      <img
        class="sm:w-auto w-full"
        src="../../../assets/images/7.jpg"
        alt="Modern Paint"
      />
    </div>
  </div>
  <div class="content-info flex flex-column">
    <div class="my-auto">
      <div class="white-space-nowrap text-900 text-xl">Title</div>
      <div class="text-gray-900 py-3 line-height-2">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet numquam
        pariatur impedit commodi quis eius voluptatum iste similique sint? A
        tempore fugiat eligendi delectus neque. Maiores optio repellat dicta
        enim.
      </div>
      <span class="font-italic text-sm text-gray-700 white-space-nowrap"
        >$221.00 AUD</span
      >
    </div>
    <button
      pButton
      class="p-button-white mb-1 sm:mt-0 mt-4"
      label="Order Now"
      (click)="onOrder($event)"
    ></button>
  </div>
</div>

<app-commission-orders></app-commission-orders>

<app-carousel [images]="images"></app-carousel>
