<div class="sm:w-7 w-9 mx-auto sm:my-8 my-6 gap-8">
  <div class="text-600 text-3xl">About</div>

  <div class="flex flex-wrap sm:flex-row flex-column justify-content-between align-items-center ">
    <div class="my-7 sm:w-6  text-500 line-height-3 text-center">
      <p class="first-paragraph">
        All of this textured masterpieces from a blend of construction and art
        materials, crafting each piece by hand are created by an artist based in
        Korca, A. Mulla. With an unapologetic love for texture and a penchant
        for neutral tones and minimalistic design all over the world A. decided
        to bring it to anyone hands...
      </p>
      <p>
        Inspired by nature's beauty and minimalist aesthetics, his art pieces
        promise to elevate your space with added textural depth, embracing tones
        and patterns that evoke a tranquil ambiance, inviting relaxation into
        your interiors.
      </p>
      <br />
      <i>
        See something you like but would like it customised in a color or size
        to suit your home or office? I'm now accepting custom orders for 2024.
      </i>
    </div>

    <div class="sm:w-3">
      <img
        class="w-full"
        src="../../../assets/images/logoSmall.png"
        alt="Modern Paint"
      />
      <img
        class="w-full"
        src="../../../assets/images/wall.jpg"
        alt="Modern Paint"
      />
    </div>
  </div>
</div>
