<div
  class="flex flex-column justify-content-center align-items-center mx-auto sm:w-5 sm:px-3 px-5 my-8 gap-4"
>
  <div class="text-900 text-3xl">Commission Orders</div>
  <div class="text-center line-height-3">
    See something you like but would like it customised in a colour or size to
    suit your home or office? I'm now accepting custom orders for 2024.
  </div>
  <div class="">
    <button pButton label="Enquire Now" [routerLink]="['/contact']"></button>
  </div>
</div>
