.p-button {
  border-color: transparent !important;
  border-radius: 1px;
  background-color: $primary-medium;
  transition: all 0.3s;

  &.p-button-white {
    background-color: white;
    outline: 1px solid black;
    span {
      color: black;
    }

    &:enabled:hover,
    &:enabled:active {
      background-color: $primary !important;

      span {
        color: white;
      }
      outline-color: $primary;
    }
  }
  &.btn-transparent {
    width: 20rem;
    background-color: transparent;
    outline: 1px solid black;
    span {
      color: black;
    }
  }

  &:enabled:hover,
  &:enabled:active {
    background-color: $primary-medium !important;

    span {
      color: #e9decf;
    }
    outline-color: #e9decf;
  }

  &.p-button-outlined {
    border-color: $primary-light !important;
    color: $primary;
  }

  &:focus {
    box-shadow: none !important;
  }
  &:enabled:hover {
    background-color: rgba($primary, 0.9) !important;
  }
}
