.p-inputtext {
  &:enabled:hover {
    border-color: $primary !important;
  }

  &:enabled:focus {
    border-color: $primary !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
