.header {
  border-bottom: 1px solid lightgray;
  // background-color: rgba(254, 251, 247, 0.974) !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
  z-index: 1000;
  color: #473a27;
  .header-item {
    transition: color 0.3s;
    &:hover {
      border-bottom: 2.5px solid #9a876c;
      color: #9a876c;
      cursor: pointer;
    }
  }
}
.active {
  border-bottom: 2.5px solid #9a876c;
  color: #9a8466;
}
