<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-column gap-4">
    <div class="flex flex-wrap xl:gap-0 gap-4 justify-content-between">
      <div class="w-full xl:w-29rem  ">
        <input
          class="w-full"
          pInputText
          id="name"
          formControlName="name"
          placeholder="Name "
          optionLabel="label"
          optionValue="value"
        />
      </div>
      <div class="w-full xl:w-29rem">
        <input
          class="w-full"
          pInputText
          id="phone"
          formControlName="phone"
          placeholder="Phone"
          optionLabel="label"
          optionValue="value"
        />
      </div>
    </div>
    <div class="w-full">
      <input
        class="w-full"
        pInputText
        id="email"
        required
        formControlName="email"
        placeholder="Email"
        optionLabel="label"
        optionValue="value"
        [ngClass]="{
          'ng-invalid ng-dirty':
            (form.get('email')?.touched || form.get('email')?.dirty) &&
            form.get('email')?.invalid
        }"
      />
      <small
        id="username-help"
        class="text-red-600"
        *ngIf="
          (form.get('email')?.touched || form.get('email')?.dirty) &&
          form.get('email')?.errors?.['required']
        "
        >This field is required</small
      >
      <small
        id="username-help"
        class="text-red-600"
        *ngIf="
          (form.get('email')?.touched || form.get('email')?.dirty) &&
          form.get('email')?.errors?.['email']
        "
        >This field should be in email format</small
      >
    </div>
    <div class="w-full">
      <textarea
        class="w-full"
        rows="7"
        cols="30"
        pInputTextarea
        id="comment"
        formControlName="comment"
        placeholder="Comment"
        optionLabel="label"
        optionValue="value"
        [autoResize]="true"
      >
      </textarea>
    </div>
    <div class="w-2">
      <p-button
        type="submit"
        class="btn btn-primary w-full"
        label="Submit"
      ></p-button>
    </div>
  </div>
</form>
